aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
breadability
bs4
certifi
chardet
charset-normalizer
click
dnspython
docopt
fastapi
frozenlist
geographiclib
geopy
h11
httpcore
httptools
idna
joblib
lxml
multidict
nltk
numpy
openai
parsedatetime
pip
pycountry
pydantic
pydantic_core
pymongo
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
setuptools
shapely
six
sniffio
soupsieve
starlette
sumy
tqdm
typing_extensions
tzwhere
urllib3
uvicorn
uvloop
watchfiles
websockets
wheel
yarl
timezonefinder